<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Book 수정</h2>
<form action="#" th:action="@{/bookpage/edit/{id}(id=${bookRequest.id})}" th:object="${bookRequest}" method="post">
    <label for="title">TITLE</label>
    <input type="text" th:field="*{title}" id="title">
    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
    <br/>

    <label for="author">AUTHOR</label>
    <input type="text" th:field="*{author}" id="author">
    <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></span>
    <br/>

    <label for="isbn">ISBN</label>
    <input type="text" th:field="*{isbn}" id="isbn">
    <span th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"></span>
    <br/>

    <label for="genre">GENRE</label>
    <input type="text" th:field="*{genre}" id="genre">
    <span th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></span>
    <br/>

    <label for="pages">PAGES</label>
    <input type="text" th:field="*{pages}" id="pages">
    <span th:if="${#fields.hasErrors('pages')}" th:errors="*{pages}"></span>
    <br/>

    <input type="submit" value="SUBMIT">
</form>
</body>
</html>