<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<body>
<table border="1">
    <h2>User 목록 출력.</h2>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>CreateAt</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${#temporals.format(user.createAt,'yyyy-MM-dd hh:mm E a')}"></td>
    </tr>
    </table>

    <p>
        <a href="/signup">Insert</a>
    </p>

</body>
</html>